@font-face {
    font-family: 'blackcraftregular';
    src: url('blackcraft-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'toporregular';
    src: url('topor-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'scratch_handwrittenregular';
    src: url('scratch_handwritten-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
